{% extends 'master.html' %}

{% if liste %}
  {% block title %}
  List of cursus
  {% endblock %}

  {% block content %}
   <div class="container">
     <p>Bonjour {{ request.user.username }} !</p>
     <button class="button radius alert left" type="cancel">
      <a href={% url 'logout' %}>Déconnexion</a>
     </button>
     
     {% for cursus in liste %}
      <div class="row">
        <div class="col-sm-12">
          <a href="./{{cursus.id}}">{{cursus.name}}</a>
          <button>
            <a href="./cursuscall/{{cursus.id}}">Call of roll</a>
          </button>
        </div>
      </div>
    {% endfor %}
     <div class="container">
       <div class="container">
        <div class="row">
          </div>
        <button>
          <a href="./presence/create">Particular Call of roll</a>
        </button>
        <br>
        <button>
          <a href="./student/create">Create a student</a>
        </button>
        <br>
        <button>
          <a href="./presence/">List of presence</a>
        </button>
        </div>
       </div>
     </div>
   </div>
  {% endblock %}
{% else %}
  <p>No cursus to show.</p>
{% endif %}