{% extends 'master.html' %}

{% if liste %}
  {% block title %}
  List of presence
  {% endblock %}

  {% block content %}
   <div class="container">
     {% for presence in liste %}
      <div class="row">
        <div class="col-sm-12">
          <a href="../student/{{presence.student.id}}">{{presence.student}}</a>
          <button>
            <a href="./presence/{{presence.id}}">Details</a>
          </button>
        </div>
      </div>
    {% endfor %}
     <div class="container">
       <div class="container">
        <div class="row">
          </div>
        </div>
       </div>
     </div>
   </div>
  {% endblock %}
{% else %}
  <p>No presence to show.</p>
{% endif %}